body {
    background-color: $paleBlue;
}

@media (max-width: 375px) {
    body {
        background: url(../../images/pattern-background-mobile.svg) no-repeat top center;
        background-size: contain;
        background-color: $paleBlue;
    }
}

@media (min-width: 376px) {
    body {
        background: url(../../images/pattern-background-desktop.svg) no-repeat top center;
        background-size: contain;
        background-color: $paleBlue;
    }
}

@media (min-width: 1440px) {
    body {
        background-image: none;
        background-color: $paleBlue;
    }
}