body {
    background-color: $paleBlue;
}

@media (max-width: 375px) {
    body {
        background-image: url(../../images/pattern-background-mobile.svg);
        background-repeat: no-repeat;
    }
}

@media (min-width: 376px) {
    body {
        background-image: url(../../images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
    }
}

@media (min-width: 1440px) {
    body {
        background-size: cover;
    }
}